<div class="card" style="width: 18rem; height: 24rem;">
  <div class="card-img-container">
    <img src="assets/logo/images/image1.jpeg" class="card-img-top" alt="..." style="height: 12rem;">
    <div class="card-img-overlay">
      <h4 class="card-title">Rock Concert</h4>
        <h6>Creador</h6>
        <p class="card-text"><i class="bi bi-person"></i>Café Bonito</p>
        <h6>En colaboración con:</h6>
        <p class="card-text"><i class="bi bi-person"></i>6ta Avenida</p>
    </div>
  </div>
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
    <button class="btn">Me interesa</button>
  </div>
</div>