<section class="footer">
    <div class="logo">
        <img src="assets/logo/light-theme/2.png" alt="" width="50" height="50">
        <p></p>
        <p>Somos el puente entre artistas y establecimientos</p>
    </div>
    <div class="explorar">
        <th>Explorar</th>
        <p></p>
        <p><a href="">Artistas</a></p>
        <p><a href="">Establecimientos</a></p>
        <p><a href="">Eventos</a></p>
    </div>
    <div class="informacion">
        <th>Información</th><p></p>
        <p><a href="">Términos y condiciones</a></p>
        <p><a href="">Sobre nosotros</a></p>
        <p><a href="">Contacto</a></p>
    </div>
</section>