.navbar {
  background-color: #1e1624;
  padding: 15px 0;
  font-family: 'Poppins', Arial, sans-serif;
  
  .container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
  }
}

.btn {
  color: #483186;
  background-color: #483186;
  transition: background-color 0.2s;
  border-color: #483186;
  color: #fbeffc;

  &:hover {
    background-color: #c567ff;
    color: #fbeffc; 
  }
}

form.d-flex {
  gap: 20px;
}

.position-absolute {
  color: #fbeffc;
  background-color: #c567ff;

}

.nav-link {
  color: #fbeffc;
  transition: color 0.2s;
}

.nav-link:hover {
  color: #c567ff;
  text-decoration: underline; // Opcional
}