.navbar {
  background-color: #1e1624;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Poppins', Arial, sans-serif;
}

.btn {
  color: #483186;
  background-color: #483186;
  transition: background-color 0.2s;
  border-color: #483186;
  color: #fbeffc;

  &:hover {
    background-color: #c567ff;
    color: #fbeffc; 
  }
}

form.d-flex {
  gap: 20px;
}

.nav-link {
  color: #fbeffc;
  transition: color 0.2s;
}

.nav-link:hover {
  color: #c567ff;
  text-decoration: underline; // Opcional
}