<div class="usuarios-container">
    <div class="table-header">
        <div class="table-filters">
            <app-search-bar (searchChange)="onSearch($event)"></app-search-bar>
            <app-filters [filters]="filters()" (filtersChange)="onFilters($event)"></app-filters>
        </div>
        <button class="add-user-button" (click)="onAddUser()">Añadir Usuario
        </button>
    </div>
    <app-data-table 
            [data]="paginatedData()"
            [columns]="columns"
            [actions]="actions"
            (actionClicked)="onAction($event)">
    </app-data-table>
    <app-pagination 
        [page]="page()" 
        [totalPages]="totalPages()" 
        (pageChange)="onPage($event)">
    </app-pagination>

    <!--  Modal del formulario -->
    @if (showAddUserForm) {
        <div class="modal-overlay">
        <div class="modal-panel">
            <form>
            <app-form-input label="Usuario" [(ngModel)]="nuevoUsuario.usuario" name="usuario"></app-form-input>
            <app-form-input label="Nombre" [(ngModel)]="nuevoUsuario.nombre" name="nombre"></app-form-input>
            <app-form-input label="Email" type="email" [(ngModel)]="nuevoUsuario.email" name="email"></app-form-input>

            <app-form-select label="Tipo de Usuario"
                                [options]="tiposUsuario()"
                                [(value)]="nuevoUsuario.tipoUsuario"
                                (valueChange)="onTipoUsuarioChangeNuevo($event)">
            </app-form-select>

            <app-form-select label="Subtipo de Usuario"
                                [options]="subtiposNuevoUsuario()"
                                [(value)]="nuevoUsuario.subtipoUsuario">
            </app-form-select>

            <app-form-input label="Contraseña" type="password" [(ngModel)]="nuevoUsuario.password" name="password"></app-form-input>
            <app-form-input label="Repetir contraseña" type="password" [(ngModel)]="nuevoUsuario.password2" name="password2"></app-form-input>

            <app-form-select label="Estado del Usuario"
                                [options]="estado"
                                [(value)]="nuevoUsuario.estado">
            </app-form-select>

            <div class="modal-actions">
                <app-form-button type="submit" label="Guardar" variant="primary" (clicked)="guardarNuevoUsuario()"></app-form-button>
                <app-form-button type="button" label="Cancelar" variant="secondary" (clicked)="showAddUserForm=false"></app-form-button>
            </div>
            </form>
        </div>
    </div>
    }
        @if (showEditUserForm) {
        <div class="modal-overlay">
        <div class="modal-panel">
            <form>
            <app-form-input label="Usuario" [(ngModel)]="editarUsuario.usuario" name="usuario"></app-form-input>
            <app-form-input label="Nombre" [(ngModel)]="editarUsuario.nombre" name="nombre"></app-form-input>
            <app-form-input label="Email" type="email" [(ngModel)]="editarUsuario.email" name="email"></app-form-input>

            <app-form-select label="Tipo de Usuario"
                                [options]="tiposUsuario()"
                                [(value)]="editarUsuario.tipoUsuario"
                                (valueChange)="onTipoUsuarioChangeEditar($event)">
            </app-form-select>

            <app-form-select label="Subtipo de Usuario"
                                [options]="subtiposEditarUsuario()"
                                [(value)]="editarUsuario.subtipoUsuario">
            </app-form-select>

            <app-form-select label="Estado del Usuario"
                                [options]="estado"
                                [(value)]="editarUsuario.estado">
            </app-form-select>

            <div class="modal-actions">
                <app-form-button type="submit" label="Guardar" variant="primary" (clicked)="guardarUsuario()"></app-form-button>
                <app-form-button type="button" label="Cancelar" variant="secondary" (clicked)="showEditUserForm=false"></app-form-button>
            </div>
            </form>
        </div>
    </div>
    }
</div>
