.usuarios-container {
  padding: 24px;
}

app-data-table {
  margin-bottom: 16px;
}
app-pagination {
  display: flex;
  justify-content: right;
  margin-top: 16px;
}

::ng-deep .actions{
  padding-left: 26px !important;
}
.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.table-filters {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 12px;
}

.add-user-button {
  background-color: #C567FF;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
}
.add-user-button:hover {
  background: #a855f7;
}

.modal-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* por encima de todo */
}

.modal-panel {
  background: #261C38;   /* o el color que uses en la app */
  border-radius: 12px;
  padding: 24px;
  min-width: 360px;
  max-width: 500px;
  max-height: 90vh;
  overflow-y: auto;
}

.modal-actions {
  margin-top: 16px;
  display: flex;
  gap: 12px;
  justify-content: flex-end;
}

::ng-deep .form-select {
  background: #2C2048 !important;
  border: 0px !important;
}

::ng-deep .form-select option{
  background: #2C2048 !important;
}

::ng-deep .form-select option:hover{
  background: #ffffff !important;
}

::ng-deep .form-select:focus{
  box-shadow: 0 0 0 3px #C567FF !important;
}

::ng-deep .form-input {
  background: #2C2048 !important;
  border: 0px !important;
}

::ng-deep .form-input:focus{
  box-shadow: 0 0 0 3px #C567FF !important;
}

::ng-deep .modal-actions{
  display: flex;
  justify-content: center !important
}

::ng-deep app-form-text {
  background: #2C2048 !important;
  border: 0px !important;
}