<div class="register-container">
    <div class="left-panel">
      <div class="brand">
        <h1 class="brand-title">INDIE</h1>
        <p class="brand-subtitle">Únete a la comunidad de artistas independientes más grande</p>
      </div>
      <div class="testimonial">
        <div class="testimonial-content">
          <div class="avatar">
            <img src="assets/avatar-placeholder.svg" alt="María González" />
          </div>
          <div class="testimonial-text">
            <p>"Una comunidad increíble de artistas"</p>
            <span class="author">María González - Cantautora</span>
          </div>
        </div>
      </div>
    </div>

    <div class="right-panel">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register-form">
        <div class="form-header">
          <h2>Crear cuenta</h2>
          <p>Completa tus datos para registrarte</p>
        </div>
        
        <div class="form-columns">
          <!-- Primera fila: Usuario - Nombre -->
          <div class="form-group">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Usuario</mat-label>
              <mat-icon matPrefix class="icon">person</mat-icon>
              <input matInput type="text" formControlName="username" placeholder="Tu nombre de usuario" class="custom-placeholder">
            </mat-form-field>
            @if(registerForm.get('username')?.errors?.['required']) {
              <mat-error class="error-message">
                El nombre de usuario es obligatorio.
              </mat-error>
            }
            @if(registerForm.get('username')?.errors?.['minlength']) {
              <mat-error class="error-message">
                El nombre de usuario debe tener al menos 3 caracteres.
              </mat-error>
            }
            @if(registerForm.get('username')?.errors?.['maxlength']) {
              <mat-error class="error-message">
                El nombre de usuario no puede exceder los 20 caracteres.
              </mat-error>
            }
          </div>
          <div class="form-group">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Nombre</mat-label>
              <mat-icon matPrefix class="icon">badge</mat-icon>
              <input matInput type="text" formControlName="nombreUsuario" placeholder="Tu nombre" class="custom-placeholder">
            </mat-form-field>
            @if(registerForm.get('nombreUsuario')?.errors?.['required']) {
              <mat-error class="error-message">
                El nombre es obligatorio.
              </mat-error>
            }
            @if(registerForm.get('nombreUsuario')?.errors?.['minlength']) {
              <mat-error class="error-message">
                El nombre debe tener al menos 3 caracteres.
              </mat-error>
            }
            @if(registerForm.get('nombreUsuario')?.errors?.['maxlength']) {
              <mat-error class="error-message">
                El nombre no puede exceder los 50 caracteres.
              </mat-error>
            }
          </div>
          
          <!-- Segunda fila: Email - Tipo Usuario -->
          <div class="form-group">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Email</mat-label>
              <mat-icon matPrefix class="icon">email</mat-icon>
              <input matInput type="email" formControlName="emailUsuario" placeholder="tu@email.com" class="custom-placeholder">
            </mat-form-field>
            @if(registerForm.get('emailUsuario')?.errors?.['required']) {
              <mat-error class="error-message">
                El email es obligatorio.
              </mat-error>
            }
            @if(registerForm.get('emailUsuario')?.errors?.['email']) {
              <mat-error class="error-message">
                Formato de email inválido. Ejemplo: usuario@ejemplo.com
              </mat-error>
            }
          </div>
          <div class="form-group">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Tipo de usuario</mat-label>
              <mat-icon matPrefix class="icon">group</mat-icon>
              <mat-select formControlName="tipoUsuario" placeholder="Seleccione un tipo de usuario" >
                @for(tipo of tiposUsuario; track tipo) {
                  <mat-option [value]="tipo">{{ tipo }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <!-- Subtipo de usuario (solo si es artista) - ancho completo -->
          <div class="form-group">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Subtipo de usuario</mat-label>
            <mat-icon matPrefix class="icon">category</mat-icon>
            <mat-select formControlName="subtipoUsuario" placeholder="Seleccione un subtipo de usuario" class="custom-placeholder">
              @for(subtipo of subTiposUsuario; track subtipo) {
                @if(subtipo.nombreTipoUsuario === registerForm.value.tipoUsuario) {
                  <mat-option [value]="subtipo.nombreSubTipoUsuario">{{ subtipo.nombreSubTipoUsuario }}</mat-option>
                }
              }
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form-columns">
          <!-- Tercera fila: Contraseña - Repetir Contraseña -->
          <div class="form-group">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Contraseña</mat-label>
              <mat-icon matPrefix class="icon">lock</mat-icon>
              <input matInput [type]="showPassword ? 'text' : 'password'" formControlName="password" placeholder="********" class="custom-placeholder">
              <button mat-icon-button matSuffix type="button" (click)="togglePassword()" aria-label="Toggle password visibility">
                <mat-icon>{{showPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
            @if(registerForm.get('password')?.errors?.['required']) {
              <mat-error class="error-message">
                La contraseña es obligatoria.
              </mat-error>
            }
            @if(registerForm.get('password')?.errors?.['minlength']) {
              <mat-error class="error-message">
                La contraseña debe tener al menos 8 caracteres.
              </mat-error>
            }
            @if(registerForm.get('password')?.errors?.['pattern']) {
              <mat-error class="error-message">
                La contraseña debe incluir al menos una letra mayúscula, una minúscula, un número y un carácter especial.
              </mat-error>
            }
          </div>
          <div class="form-group">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Repetir contraseña</mat-label>
              <mat-icon matPrefix class="icon">lock</mat-icon>
              <input matInput [type]="showConfirmPassword ? 'text' : 'password'" formControlName="confirmPassword" placeholder="********" class="custom-placeholder">
              <button mat-icon-button matSuffix type="button" (click)="toggleConfirmPassword()" aria-label="Toggle confirm password visibility">
                <mat-icon>{{showConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
            @if(registerForm.get('confirmPassword')?.errors?.['required']) {
              <mat-error class="error-message">
                Debes repetir la contraseña.
              </mat-error>
            }
            @if(registerForm.errors?.['mismatch']) {
              <mat-error class="error-message">
                Las contraseñas no coinciden.
              </mat-error>
            }
          </div>
        </div>

        <!-- Checkbox de términos y condiciones -->
        <div class="checkbox-group">
          <mat-checkbox formControlName="acceptTerms" class="checkbox-label">
            Acepto los 
            <a routerLink="/terminos-y-condiciones" class="link">Términos y Condiciones</a> 
            y la 
            <a routerLink="/politica-de-privacidad" class="link">Política de Privacidad</a>
          </mat-checkbox>
        </div>

        <!-- Botón de envío -->
        <button
          type="submit"
          [disabled]="!registerForm.valid"
          class="submit-btn"
          mat-raised-button
          color="primary"
        >
          Crear cuenta
        </button>

        <div class="form-footer">
          <p>¿Ya tienes una cuenta? <a routerLink="/login" class="link">Inicia sesión</a></p>
          <p class="help-text">¿Necesitas ayuda? <a href="#" class="link">Contáctanos</a></p>
        </div>
      </form>
    </div>
</div>

