main{
    display: flex;
    padding: 16px;
    flex-direction: column;
    min-height: 100vh;
    background-color: #1e1624;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');