<div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person"></i>
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Publicar Evento</a></li>
            <li><a class="dropdown-item" href="#">Mi Perfil</a></li>
            <li><a class="dropdown-item" href="#">Mis Eventos</a></li>
            <li><a class="dropdown-item" href="#">Mi Calendario</a></li>
            <li><a class="dropdown-item" href="#">Configuración</a></li>
            <li><a class="dropdown-item" href="#">Cerrar Sesión</a></li>
        </ul>
</div>
