<div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person"></i>
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" (click)="openModal()" routerLinkActive="active">Publicar Evento</a></li>
            <li><a class="dropdown-item" routerLink="profile" routerLinkActive="active">Mi Perfil</a></li>
            <li><a class="dropdown-item" routerLink="#" routerLinkActive="active">Mis Eventos</a></li>
            <li><a class="dropdown-item" routerLink="calendario" routerLinkActive="active">Mi Calendario</a></li>
            <li><a class="dropdown-item" routerLink="configuracion-profile" routerLinkActive="active">Configuración</a></li>
            <li><a class="dropdown-item" routerLink="#" routerLinkActive="active">Cerrar Sesión</a></li>
        </ul>
</div>
